html{
	font-family:"Lato",sans-serif;
	overflow: hidden;
}

	#zone_chat{
		border : solid 1px;
		border-color: #754220 !important;
		margin-top: 80px;
		height: 600px;
		overflow: hidden;
		margin-left: 10px;
	}

	#zone-animation{
		margin-top: 80px;
		border : solid 1px;
		border-color: #754220 !important;
		overflow: hidden;
		height: 600px;
		margin-left: 70px;
	}

	h1,h2,h3,h4,h5,h6{
		color: #754220 !important;
	}

	#formulaire_chat{
		margin-top: 10px;
		margin-left: 80px;
	}

	#message{
		border-color: #754220 !important;
		border-radius: 10px;
		outline: none;
		font-size: 20px;
		width: 100%;
	}

	#envoi_message{
		background-color: #754220 !important;
		color: white;
		height: 25px;
		margin-left: 180px;
	}

	#login{
	height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
	}

	#loginform{
		width: 100%;
	}

	#username{
		width: 90%;
		height : 25px;
		outline: none;
		font-size: 20px;
		border-color: #754220 !important;
		border-radius: 10px;
		margin-left: 5%;
		margin-top: 20%;
	}

	#envoi-pseudo{
		background-color: #754220;
		color: white;
		height: 25px;
		margin-left: 48%;
		font-size: 20px;
		height: 40px;
		margin-top: 20px;
	}

	p{
		color: white;
		font-size: 35px;
		text-align: center;
	}

	.interface{
		display: none;
	}

	.messages-chat{
		font-size : 25px;
		text-align: left;
	}