html{
	font-family:"Lato",sans-serif;
}


	#zone_chat{
		position: fixed;
		border-color: #754220 !important;
		overflow-y:scroll;
		border-left : solid 1px;
		border-bottom : solid 1px;
		border-right-style: dotted;
		z-index: 2;
	}

	#zone-animation{
		position: fixed;
		border : solid 1px;
		border-color: #754220 !important;
		overflow: hidden;
		z-index: 5;
	}

	h1,h2,h3,h4,h5,h6{
		color: #754220 !important;
	}

	#formulaire_chat{
		position: fixed;
	}

	#message{
		border-color: #754220 !important;
		border-right-style: dotted;
		border-bottom : solid 1px;
		border-left : solid 1px;
		outline: none;
		font-size: 1em;
		width: 100%;
		z-index: -1
	}

	#envoi_message{
		background-color: #754220 !important;
		color: white;
		height: 25px;
		margin-left: 180px;
	}

	#login{
	height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
	}

	#loginform{
		width: 100%;
	}

	#username{
		width: 90%;
		height : 25px;
		outline: none;
		font-size: 1.2em;
		border-color: #754220 !important;
		margin-left: 5%;
		margin-top: 20%;
	}

	#envoi-pseudo{
		background-color: #754220;
		color: white;
		height: 25px;
		margin-left: 48%;
		font-size: 1.3em;
		height: 40px;
		margin-top: 20px;
	}

	p{
		color: white;
		font-size: 2em;
		text-align: center;
	}

	.interface{
		display: none;
	}

	.section-message-chat{
		border : solid 1px;
		border-color: #754220 !important;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: rgba(0,0,0,0.1);
 		display: inline-block;
 		width: 60%;
 		margin-left: 36%;
	}

	.message-chat > p{
 		color: #754220;
 		font-size: 0.9em;
 		text-align: left;
	}

	.sep{
		height: 10px;
	}

	.own-section-message-chat{
		border : solid 1px;
		border-color: #754220 !important;
		padding-right: 10px;
		padding-left: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: rgba(0,0,0,0.1);
 		display: inline-block;
 		width: 60%;
 		margin-left: 0.2%;
	}
